@font-face {
    font-family: 'Proxima nova';
    src: url('Fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Proxima nova', sans-serif;
    color: white;
    overflow-y: scroll; /* Forzamos el desplazamiento vertical */
}

html {
    margin: 0;
    padding: 0;
}
p
{
    text-align: justify;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
}

.full-screen {
    height: 100vh;
    background-image: url('/img/imagen header.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay h1 {
    font-size: 3rem;
    color: white;
}

.header-fijo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.814);
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.header-text {
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.menu-button {
    border: none;
    background: none;
    padding: 0;
}

.menu-icon {
    width: 30px;
    height: 30px;
}

.offcanvas-body .nav-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
}

.offcanvas-body .nav-link:hover {
    background-color: #f0f0f0;
    color: black;
}

section {
    padding-block: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del enlace en modo oscuro */
.dark-mode-button {
    background-color: #1f1f1f;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.dark-mode-button:hover {
    background-color: #ffffff;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
}

/* Safari y Chrome */
body::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Opcional: ocultar fondo de la barra de desplazamiento */
}

/* Firefox */
body {
    scrollbar-width: none; /* Ocultar la barra de desplazamiento */
}

/* Internet Explorer 10+ y Edge */
body {
    -ms-overflow-style: none; /* Ocultar la barra de desplazamiento */
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* También se puede eliminar esta línea si no se necesita */
}

.accordion-body
{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.accordion-body p, .accordion-body h2 {
    margin: 0;
}

.education-body
{
    display: flex;
    gap: 2rem;
}

.education-body > div {
    flex: 1;
}

.card-skill {
    height: 600px;
}

.card-skill .card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-card-skill {
    position: absolute;
    bottom: .5rem;
}

.cards-proexp
{
    padding: 2rem;
}

.cardproexp {
    height: 520px;
}

.img-card
{
    height: 300px;
}

.card-img, .card-img-top {

    height: 100%;
    object-fit: cover;
}

